<!DOCTYPE html>
<html lang="ro">
<head>
    <!-- setează codarea caracterelor -->
    <meta charset="UTF-8">

    <!-- permite afișarea pe dispozotivele mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- titlul aplicației afișat în tab -->
    <title>Study Planner</title>

    <!-- fișierul de stilizare CSS - comun pentru toate paginile -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="page-card">

        <h1 class="page-title">Study Planner</h1>

        <p class="page-subtitle">
            Organizează-ți taskurile, urmărește deadline-urile și gestionează activitățile într-un singur loc.
        </p>

        <div style="margin-top: 30px;">

            <a href="/dashboard" class="btn primary-btn">
                Intră în aplicație
            </a>

        </div>

    </div>
</body>
</html>