<!DOCTYPE html>
<html lang="ro">
<head>
    <!-- setează codarea caracterelor -->
    <meta charset="UTF-8">

    <!-- permite afișarea pe dispozotivele mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- titlul aplicației afișat în tab -->
    <title>Study Planner</title>

    <!-- fișierul de stilizare CSS - comun pentru toate paginile -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- titlul aplicației -->
    <h1>Study Planner</h1>

    <!-- mesajul de întâmpinare -->
    <p>Bine ai venit în aplicația Study Planner!</p>
</body>
</html>